body{
    display: none;
}
div.map{
    position: relative;
    background-image: url('/img/map.png');
    background-repeat:no-repeat;
    background-size: cover;
    width: 1280px;
    height: 700px;
    width: 1920px;
    height: 1080px;
}
div.map div.city{
    margin-left: -5px;
    margin-top: -5px;
    position: absolute;
}
div.map div.city p{
    font-weight:bold;
    margin-left: -26px;
    font-size: 18px;
    margin-top: 0;
    text-shadow: 1px 1px #444;
}
div.map div.city.current{
    display: none;
}
div.map div.city p{
    text-align: center;
}
div.hidden-template{
    display: none;
}
body{
    width: 90%;
    margin: 0 auto;
}
form[edit-instance]{
    display: none;
}
form label,
form input,
form textarea,
form select,{
    display:block;
    float: right;
}
form textarea{
    -webkit-transition: 0.4s;
    transition: 0.4s;
    padding: 1px;
    width: 169px;
    height: 19px;
}
textarea:focus{
    width: calc(100% - 210px);
    height: 200px;
}
form label{
    width: 200px;
    float: left;
}
form div.fieldbox{
    margin-bottom: 30px;
}
form .select2-container{
    width: 380px!important;
}
form .select2-search__field{
    width: 380px!important;
}
form h2{
    margin-left: 0;
    margin-right: 50px;
    display: inline-block;
}
