<!DOCTYPE html>
{% set model = page_data.get('model') %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ escape( model.display_name() ) }}</title>
        <link rel="stylesheet" href="/css/article.css" charset="utf-8">
        <link rel="stylesheet" href="/css/default.css" charset="utf-8">
    </head>
    <body>
        {% set loader = page_data.get('loader') %}
        {% raw loader.load("public/templates/partials/articledefault.html").generate(page_data=page_data) %}
    </body>
</html>
