<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
        <link rel="stylesheet" href="/css/admin.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/select2.min.css" type="text/css">
        <script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../js/admin.js"></script>
        <script type="text/javascript" src="../js/select2.full.min.js"></script>
    </head>
    <body>
        {% set loader = page_data.get('loader') %}
        {% for type, list in page_data.get('content').items() %}
            {% set model = page_data.get('models')[type] %}
            <div id="{{ escape(model.__name__) }}-container">
                {% raw loader.load("public/templates/partials/adminform.html").generate(partial_data={'page_data':page_data,'model':model,'type':type,'list':list,'instance':0}) %}
                <h3>{{ escape(model.display_name(True)) }}</h3>
                {% for instance in list %}
                    {% block instance %}
                        <div model="{{ escape( instance.__class__.__name__ ) }}">
                            <h4>{{ escape( instance.name )}}</h4>
                            {% for key, value in instance.fields(1).items() %}
                                {% if key != 'description' and key != 'name' and key != 'id' %}
                                    {% set short_value = value %}
                                    {% if isinstance( short_value, int ) == False and short_value != None %}
                                        {% if len( short_value ) > 25 %}
                                            {% set short_value = short_value[:25] + '..' %}
                                        {% end %}
                                    {% end %}
                                    {% if short_value != None and short_value != '' %}
                                        <span name="{{ escape( key ) }}" value="{{ value }}"><b>{{ instance.__class__.field_display_name( key ) }}</b>: {{ short_value }},</span>
                                    {% end %}
                                {% end %}
                            {% end %}
                            <span>
                                <button type="button" edit="{{ model.__name__ + '-' + str(instance.id) }}">EDIT</button>
                            </span>
                            {% raw loader.load("public/templates/partials/adminform.html").generate(partial_data={'page_data':page_data,'model':model,'type':type,'list':list,'instance':instance}) %}
                        </div>
                    {% end %}
                {% end %}
                <hr>
            </div>
        {% end %}
    </body>
</html>
