<!DOCTYPE html>
{% set user = page_data.get('user') %}
{% set json = page_data.get('json') %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ escape( user.name ) }}</title>
        <script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../js/user.js"></script>
    </head>
    <body>
        <json></json>
        <h1>{{ escape( user.name ) }}</h1>
        <form action="/user">
            <input type="hidden" name="json">
            <h2>Status</h2>
            <label for="health">Hälsa</label>
            <input type="number" name="health" value="{{ json.get('health') }}">
            <br>
            <label for="exhaustion">Utmattning</label>
            <input type="number" name="exhaustion" value="{{ json.get('exhaustion') }}">
            <br>
            <label for="kraft">Kraft</label>
            <input type="number" name="kraft" value="{{ json.get('kraft') }}">
            <br>
            <label for="money">Rikedom</label>
            <input type="number" name="money" value="{{ json.get('money') }}">
            <h4>Kopparmynt</h4>
            <span>{{ int(json.get('money')) % 100 }}</span>
            <h4>Silvermynt</h4>
            <span>{{ (int(json.get('money')) % 10000) / 100 }}</span>
            <h4>Guldmynt</h4>
            <span>{{ (int(json.get('money')) % 1000000) / 10000 }}</span>
        </form>
    </body>
</html>
